/* stylelint-disable selector-no-qualifying-type */
.search-bar-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.search-bar-container label {
  color: #555;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.search-bar-container input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  width: 100%;
}

.ingredient-container {
  align-items: center;
  display: flex;
}

.button {
  background-color: #fccb4f;
  border: none;
  border-radius: 10px;
  color: #555;
  font-family: Bebas Neue , sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5vw;
  width: 50vw;
}

.ingredient-container input[ type = 'radio' ] {
  appearance: none;
  border: 2px solid #fccb4f;
  border-radius: 50%;
  height: 16px;
  margin-right: 8px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  width: 16px;
}

.ingredient-container input[ type = 'radio' ]:checked {
  background-color: #fccb4f;
}
